*{
    margin: 0;
    padding: 0;
}

button{
    background-color: rgba(85, 84, 84, 0.7);
    font-family: Roboto;
    font-size: 20px;
    color: white;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    margin-left: 8px;
    transition: opacity 0.15s;
    transition: background-color 0.3s, color 0.3s;
}
button:hover{
    opacity: 0.5;
}
button:active{
    opacity: 0.7;
}

.out{
    background-color: rgba(44, 44, 44, 0.7);
}

.equal{
    background-color: rgb(255, 69, 0);
}

div{
    font-family: Roboto;
}

.grid{
    display: inline-flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    max-width: 500px;
    overflow: hidden;
    margin-bottom: 20px; 
    padding-bottom: 20px; 
}

body{
    background-color: rgb(10, 10, 10);
    text-align: center;
    padding-bottom: 20px;
}

#display{
    background-color: rgb(10, 10, 10);
    color: white;
    font-size: 2rem;
    padding: 14px;
    padding-right: 90px;
    border: none;
    text-align: right;
    outline: none;
}

.light{
    background-color: rgb(10, 10, 10);
}

.lights{
    display: flex;
    justify-content: flex-end;
}

.lightmode{
    background-color: white;
    color: rgb(10, 10, 10);
    transition: background-color 0.3s, color 0.3s;
}

.lightmode button{
    background-color: white;
    color: rgb(10, 10, 10);
    box-shadow:  2px 5px 15px rgba(124, 124, 124, 0.7);
    transition: background-color 0.3s, color 0.3s;
}

.lightmode .out{
    background-color: rgba(133, 132, 132, 0.5);
    transition: background-color 0.3s, color 0.3s;
}

.lightmode .equal{
    background-color: rgb(255, 108, 54);
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.lightmode #display{
    background-color: white;
    color: rgb(10, 10, 10);
    transition: background-color 0.3s, color 0.3s;
}

.lightmode .light{
    box-shadow: none;
}

.lightmode .light svg {
    fill: rgb(10, 10, 10);
}

.lightmode .out svg{
    background-color: none;
    fill: rgb(10, 10, 10);
}