*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content{
    width: 100vw;
    height: 100vh;
    background-color: #dae2e9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .buttons{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    row-gap: 80px;
}

.content .buttons li{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dae2e9;
    border-radius: 50%;
    box-shadow: 20px 60px 100px #aab6c2,
    -20px -60px 100px #f3f6f8;
    margin: auto;
    position: relative;
    cursor: pointer;
}

.content .buttons li:hover svg{
    animation: animate .8s linear forwards;
}

@keyframes animate{
    0%{
        transform: scale(1);
    }

    25%{
        transform: scale(1.5);
    }

    50%{
        transform: scale(2);
    }

    75%{
        transform: scale(0.5);
    }

    100%{
        transform: scale(1);
    }
}