.join-button{
    background-color: white;
    color: rgb(5, 143, 255);
    height: 36px;
    width: 62px;
    border-color: rgb(5, 143, 255);
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s, color 0.15s;
}
.join-button:hover{
    background-color: rgb(5, 143, 255);
    color: white;
}
.join-button:active{
    opacity: 0.7;
}

.subscribe-button{
    background-color: rgb(189, 0, 0);
    color: white;
    height: 36px;
    width: 105px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
}
.subscribe-button:hover{
    opacity: 0.8;
}
.subscribe-button:active{
    opacity: 0.4;
}

.tweet-button{
    background-color: rgb(30, 188, 250);
    color: white;
    height: 36px;
    width: 74px;
    border: none;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow 0.15s;
}
.tweet-button:hover{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.tweet-button:active{
    opacity: 0.7;
}

.uber-button{
    background-color: black;
    color: white;
    height: 36px;
    width: 120px;
    border: none;
    cursor: pointer;
    margin-left: 8px;
    transition: opacity 0.15s;
}
.uber-button:hover{
    opacity: 0.5;
}
.uber-button:active{
    opacity: 0.7;
}

.amazon-button{
    background-color: rgb(255, 216, 20);
    color: black;
    height: 36px;
    width: 180px;
    border: none;
    border-radius: 18px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 8px;
    transition: background-color 0.15s;
}
.amazon-button:hover{
    background-color: rgb(245, 205, 3);
}
.amazon-button:active{
    opacity: 0.7;
}

.github-button{
    background-color: rgb(46, 164, 79);
    color: white;
    height: 36px;
    width: 95px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
}
.github-button:hover{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.github-button:active{
    opacity: 0.7;
}

.bootstrap1-button{
    background-color: rgb(121, 82, 179);
    color: white;
    height: 36px;
    width: 110px;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 8px;
    transition: background-color 0.15s;
}
.bootstrap1-button:hover{
    background-color: rgb(100, 61, 158);
}
.bootstrap1-button:active{
    opacity: 0.7;
}

.bootstrap2-button{
    background-color: white;
    color: rgb(108, 117, 125);
    height: 36px;
    width: 110px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(108, 117, 125);
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 8px;
    transition: background-color 0.15s, color 0.15s;

}
.bootstrap2-button:hover{
    background-color: rgb(108, 117, 125);
    color: white;
}
.bootstrap2-button:active{
    opacity: 0.7;
}

.linkedin1-button{
    background-color: rgb(10, 102, 194);
    color: white;
    height: 36px;
    width: 225px;
    border: none;
    border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 8px;
    transition: background-color 0.15s;
}
.linkedin1-button:hover{
    background-color: rgb(0, 59, 117);
}
.linkedin1-button:active{
    background-color: rgb(0, 46, 92);
}

.linkedin2-button{
    background-color: white;
    color: rgb(42, 113, 184);
    height: 36px;
    width: 80px;
    border-color: rgb(42, 113, 184);
    border-style: solid;
    border-width: 1px;
    border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 8px;
    transition: background-color 0.15s, border-width 0.15s;
}
.linkedin2-button:hover{
    border-width: 2px;
    background-color: rgb(228, 242, 255);
}