div{
    font-family: Arial;
    text-align: center;
}
body{
    margin: 80px 0 0 0;
    background-color: black;
}
h2{
    color: white;
}
button{
    background-color: rgb(0, 0, 0);
    color: rgb(5, 143, 255);
    padding: 8px;
    border-color: rgb(5, 143, 255);
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s, color 0.20s;
}
button:hover{
    background-color: rgb(5, 143, 255);
    color: white;
}
button:active{
    opacity: 0.7;
}