.stretch-button{
    background-color: green;
    color: white;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 18px;
    transition: padding-top 0.5s, padding-bottom 0.5s, padding-right 0.5s, padding-left 0.5s;
}
.stretch-button:hover{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;
}

.shadow-button{
    background-color: green;
    color: white;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 18px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-left: 48px;
    margin-right: 100px;
    transition: margin-left 0.15s, margin-top 0.15s,box-shadow 0.15s;
    vertical-align: top;
}
.shadow-button:active{
    margin-left: 53px;
    margin-top: 5px;
    box-shadow: none;
}

.button123{
    background-color: green;
    color: white;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 18px;
    margin-left: 8px;
    margin-right: 8px;
    transition: padding 0.5s, margin 0.5s;
    vertical-align: top;
}
.button123:hover{
    padding-right: 26px;
    padding-left: 26px;
    margin-left: 0px;
    margin-right: 0px;
}