div{
    font-family: Arial;
    margin: 0;
}
.sidebar1{
    background-color: rgb(37, 37, 37);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}
.sidebar2{
    background-color: rgb(63, 63, 63);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 75px;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.img{
    width: 55px;
    height: 55px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    margin-bottom: 8px;
}
.infocross{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info{
    color: white;
    font-size: 17px;
    font-weight: 600;
}
.cross{
    color: rgb(194, 194, 194);
    font-size: 20px;
}
.channels{
    font-size: 17px;
    color: rgb(194, 194, 194);
    margin-top: 12px;
}