div{
    font-family: Arial;
    margin: 0;
}
.grid{
    display: flex;
    justify-content: space-between;
    width: 800px;
}
.left{
    display: flex;
    align-items: center;
}
.right{
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}
.name{
    font-size: 18px;
    font-weight: 600;
    margin-left: 12px;
}
.add,
.message{
    font-size: 17px;
    font-weight: 600;
    height: 36px;
    border: none;
    border-radius: 5px;
}
.add{
    color: white;
    background-color: rgba(5, 72, 255, 0.842);
    padding: 0 14px 0 14px;
}
.message{
    color: rgb(83, 83, 83);
    background-color: rgb(233, 233, 233);
    padding: 0 18px 0 18px;
}