.div1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(120, 82, 178);
    align-items: center;
    padding: 0 10px 0 16px;
}
p{
    font-family: Arial;
    margin: 0 0 0 0;
}
.p1{
    font-size: 17px;
    font-weight: 600;
    color: white;
}
.s1{
    font-family: Arial;
    width: 535px;
    height: 30px;
    border: none;
    border-radius: 80px;
    padding-left: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.b1{
    color: white;
    background-color: rgb(120, 82, 178);
    font-family: Arial;
    font-size: 17px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 2px;
    padding: 9px 16px 9px 16px;
}