p{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.div1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}
img{
    width: 60px;
    height:  60px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    margin-right: 15px;
    margin-top: 5px;
}
.parag{
    width: 200px;
}
.p1{
    font-weight: 700;
    margin-bottom: 3px;
}
.p2{
    color: rgb(150, 150, 150);
    margin-bottom: 5px;
}
.p3{
    font-size: 14px;
    color: rgb(150, 150, 150);
}
.b1{
    background-color: rgb(5, 143, 255);
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 5px 16px 5px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}