p{
    font-family: Montserrat;
    margin-top: 0;
    margin-bottom: 0;
}
.d6a{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
.d6b{
    font-size: 25px;
    text-align: center;
}
.d61{
    text-decoration: underline;
    color: rgb(69, 69, 69);
}