p{
    font-family: Arial;
    margin-bottom: 0;
    margin-top: 0;
}
.p1{
    color: rgb(69, 69, 69);
    font-size: 16px;
    margin-bottom: 8px;
}
.search1{
    width: 354px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-style: solid;
    border-radius: 3px;
    margin-bottom: 25px;
}
.p2{
    color: rgb(69, 69, 69);
    font-size: 16px;
    margin-bottom: 20px;	
}
.button1{
    background-color: rgb(10, 102, 194);
    color: white;
    width: 392px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;   
}