.d1{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 15px;
    padding-left: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
.img1{
    width: 45px;
    height: 45px;
    margin-right: 5px;
    border-radius: 30px;
    vertical-align: middle;
}
.p1{
    font-size: 18px;
    font-family: Arial;
    color: rgb(69, 69, 69);
    width: 270px;
    border: none;
    vertical-align: middle;
}
.button1{
    background-color: rgb(30, 188, 250);
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    vertical-align: middle;
}