.button1{
    background-color: rgb(255, 216, 20);
    color: black;
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 18px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 8px;
    transition: background_color 0.15s;
}
.button1:hover{
    background-color: rgb(226, 188, 0);
}
.button1:active{
    opacity: 0.3;
}

.button2{
    background-color: rgb(255, 164, 28);
    color: black;
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 18px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s;
}
.button2:hover{
    background-color: rgb(233, 140, 0);
}
.button2:active{
    opacity: 0.3;
}

.parag1{
    color: rgb(0, 118, 0);
}
.parag2{
    font-size: larger;
    font-weight: bold;
}
.link-button{
    color: rgb(0, 113, 133);
    transition: color 0.15s;
}
.link-button:hover{
    color: rgb(218, 71, 3);
}